In [54]:
import pandas as pd

df = pd.read_csv('../../../data/season-data/2012_to_2024_data.csv', index_col=0)
df = df.sort_values('date')
df

,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,drb,...,stl_opp,blk_opp,tov_opp,pf_opp,pts_opp,+/-_opp,team_opp,date,won,mp
fg,,,,,,,,,,,,,,,,,,,,,
32.0,90.0,0.356,8.0,32.0,0.250,12.0,20.0,0.600,18.0,21.0,...,7.0,5.0,20.0,21.0,94.0,NaN,CLE,2012-10-30,0.0,NaN
36.0,79.0,0.456,7.0,20.0,0.350,15.0,22.0,0.682,18.0,36.0,...,11.0,10.0,12.0,19.0,84.0,NaN,WAS,2012-10-30,1.0,NaN
40.0,85.0,0.471,5.0,15.0,0.333,14.0,18.0,0.778,9.0,31.0,...,6.0,5.0,14.0,21.0,91.0,NaN,LAL,2012-10-30,1.0,NaN
38.0,77.0,0.494,3.0,13.0,0.231,12.0,31.0,0.387,15.0,31.0,...,9.0,5.0,11.0,25.0,99.0,NaN,DAL,2012-10-30,0.0,NaN
39.0,75.0,0.520,6.0,13.0,0.462,23.0,28.0,0.821,7.0,34.0,...,8.0,5.0,8.0,20.0,120.0,NaN,MIA,2012-10-30,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43.0,98.0,0.439,18.0,39.0,0.462,14.0,15.0,0.933,15.0,34.0,...,5.0,3.0,16.0,17.0,94.0,NaN,GSW,2024-04-16,1.0,240.0
41.0,91.0,0.451,11.0,37.0,0.297,23.0,28.0,0.821,8.0,26.0,...,6.0,8.0,7.0,20.0,131.0,NaN,CHI,2024-04-17,0.0,240.0
38.0,90.0,0.422,14.0,39.0,0.359,14.0,19.0,0.737,18.0,29.0,...,4.0,3.0,15.0,17.0,105.0,NaN,PHI,2024-04-17,0.0,240.0
36.0,86.0,0.419,12.0,35.0,0.343,21.0,23.0,0.913,15.0,34.0,...,12.0,4.0,13.0,19.0,104.0,NaN,MIA,2024-04-17,1.0,240.0
54.0,95.0,0.568,11.0,26.0,0.423,12.0,15.0,0.800,10.0,37.0,...,4.0,2.0,9.0,16.0,116.0,NaN,ATL,2024-04-17,1.0,240.0

In [55]:
# delete unnecessary columns
del df['mp']
del df['mp_opp']
df

,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,drb,...,ast_opp,stl_opp,blk_opp,tov_opp,pf_opp,pts_opp,+/-_opp,team_opp,date,won
fg,,,,,,,,,,,,,,,,,,,,,
32.0,90.0,0.356,8.0,32.0,0.250,12.0,20.0,0.600,18.0,21.0,...,22.0,7.0,5.0,20.0,21.0,94.0,NaN,CLE,2012-10-30,0.0
36.0,79.0,0.456,7.0,20.0,0.350,15.0,22.0,0.682,18.0,36.0,...,26.0,11.0,10.0,12.0,19.0,84.0,NaN,WAS,2012-10-30,1.0
40.0,85.0,0.471,5.0,15.0,0.333,14.0,18.0,0.778,9.0,31.0,...,24.0,6.0,5.0,14.0,21.0,91.0,NaN,LAL,2012-10-30,1.0
38.0,77.0,0.494,3.0,13.0,0.231,12.0,31.0,0.387,15.0,31.0,...,22.0,9.0,5.0,11.0,25.0,99.0,NaN,DAL,2012-10-30,0.0
39.0,75.0,0.520,6.0,13.0,0.462,23.0,28.0,0.821,7.0,34.0,...,25.0,8.0,5.0,8.0,20.0,120.0,NaN,MIA,2012-10-30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43.0,98.0,0.439,18.0,39.0,0.462,14.0,15.0,0.933,15.0,34.0,...,19.0,5.0,3.0,16.0,17.0,94.0,NaN,GSW,2024-04-16,1.0
41.0,91.0,0.451,11.0,37.0,0.297,23.0,28.0,0.821,8.0,26.0,...,27.0,6.0,8.0,7.0,20.0,131.0,NaN,CHI,2024-04-17,0.0
38.0,90.0,0.422,14.0,39.0,0.359,14.0,19.0,0.737,18.0,29.0,...,23.0,4.0,3.0,15.0,17.0,105.0,NaN,PHI,2024-04-17,0.0
36.0,86.0,0.419,12.0,35.0,0.343,21.0,23.0,0.913,15.0,34.0,...,23.0,12.0,4.0,13.0,19.0,104.0,NaN,MIA,2024-04-17,1.0
54.0,95.0,0.568,11.0,26.0,0.423,12.0,15.0,0.800,10.0,37.0,...,30.0,4.0,2.0,9.0,16.0,116.0,NaN,ATL,2024-04-17,1.0

In [56]:
# add in target column to predict how team did in their next game
def add_target(team):
    team['target'] = team['won'].shift(-1)
    return team

df = df.groupby('team', group_keys=False).apply(add_target)
df[df['team'] == 'NYK']

/var/folders/mz/g9hg6nvj5w52nnt1f04pvylh0000gn/T/ipykernel_6146/2211563716.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df = df.groupby('team', group_keys=False).apply(add_target)

,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,drb,...,stl_opp,blk_opp,tov_opp,pf_opp,pts_opp,+/-_opp,team_opp,date,won,target
fg,,,,,,,,,,,,,,,,,,,,,
32.0,72.0,0.444,6.0,26.0,0.231,24.0,28.0,0.857,4.0,31.0,...,5.0,2.0,16.0,22.0,91.0,NaN,MIN,2012-12-23,1.0,0.0
32.0,83.0,0.386,8.0,28.0,0.286,17.0,20.0,0.850,11.0,38.0,...,6.0,3.0,12.0,23.0,86.0,NaN,BOS,2013-01-24,1.0,0.0
32.0,76.0,0.421,13.0,35.0,0.371,19.0,26.0,0.731,14.0,36.0,...,7.0,3.0,13.0,22.0,86.0,NaN,MIL,2013-02-01,1.0,1.0
32.0,75.0,0.427,8.0,33.0,0.242,27.0,35.0,0.771,11.0,37.0,...,8.0,2.0,12.0,22.0,93.0,NaN,PHI,2013-02-24,1.0,1.0
32.0,74.0,0.432,8.0,29.0,0.276,21.0,26.0,0.808,9.0,31.0,...,10.0,4.0,14.0,20.0,99.0,NaN,MIA,2013-03-03,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54.0,105.0,0.514,9.0,30.0,0.300,11.0,11.0,1.000,11.0,30.0,...,5.0,4.0,14.0,12.0,137.0,NaN,CHO,2018-03-26,0.0,0.0
54.0,96.0,0.563,16.0,35.0,0.457,16.0,21.0,0.762,17.0,34.0,...,7.0,4.0,16.0,17.0,110.0,NaN,DET,2022-11-29,1.0,0.0
54.0,89.0,0.607,20.0,35.0,0.571,14.0,21.0,0.667,7.0,39.0,...,6.0,5.0,12.0,21.0,118.0,NaN,BRK,2023-03-01,1.0,1.0
57.0,102.0,0.559,10.0,26.0,0.385,15.0,21.0,0.714,12.0,34.0,...,6.0,3.0,14.0,18.0,134.0,NaN,CLE,2020-02-03,1.0,1.0
55.0,94.0,0.585,22.0,44.0,0.500,13.0,16.0,0.813,15.0,27.0,...,7.0,4.0,18.0,17.0,101.0,NaN,TOR,2024-03-27,1.0,0.0